$colors: (
  common: (
    "white": #FFFFFF,
    "black": #000000,
    "placeholder": #4A5764,
    "selection": #3C66FA,
  ),
  color: (
    "white" : #fff,
    "white-70" : rgb(255 255 255 / 30%),
  ),
  body: (
    "primary": #ffffff,
  ),
  theme: (
    "primary": #F44E19,
  ),
  heading: (
    "primary": #15181B,
  ),
  text: (
    "body": #6A6A6A,
    "p": #6A6A6A,
  ),
  menu: (
    "primary": #15181B,
    "white": #FFFFFF,
  )
);
