@use "../utils" as *;

/*----------------------------------------*/
/*  2.1 custom color
/*----------------------------------------*/
.color-theme-primary { color: var(--rr-theme-primary) }
.color-white { color: var(--rr-common-white) }

/*----------------------------------------*/
/*  2.. font weight
/*----------------------------------------*/
.rr-fw-medium { font-weight: var(--rr-fw-medium) }
.rr-fw-regular {font-weight: var(--rr-fw-regular) }
.rr-fw-sbold {font-weight: var(--rr-fw-sbold) }
.rr-fw-bold {font-weight: var(--rr-fw-bold) }
.rr-fw-black {font-weight: var(--rr-fw-black) }

/*----------------------------------------*/
/*  2.. font family
/*----------------------------------------*/
.rr-ff-heading { font-family: var(--rr-ff-heading) }
.rr-ff-body { font-family: var(--rr-ff-body) }

/*----------------------------------------*/
/*  2.. body
/*----------------------------------------*/
.body {
    font-size: var(--rr-fs-body);
    line-height: var(--rr-lh-body);
}

/*----------------------------------------*/
/*  2.. background
/*----------------------------------------*/
.white-bg {  background-color: var(--rr-common-white);}
.black-bg {background-color: var(--rr-common-black);}
.theme-bg-primary { background-color: var(--rr-theme-primary); }
.theme-bg-heading-primary { background-color: var(--rr-heading-primary); }

.section-bg-1 { background: #FBFBF7; }
.section-bg-2 { background: #F8F8F8; }
.section-bg-3 { background: #F5F5F5; }
.section-bg-4 { background: #001D3A; }
.section-bg-5 { background: #FFF7F5; }
.footer-bg-1 {background-color: #1B1F22 }
// body color
.body-bg-1 {
    background-color: #E5EDF2;
}
.banner-bg-3 { background: #25130D; }
.z-99 {
    z-index: 99;
}

.ml-0 {
    margin-left: 0 !important;
}