@use '../../utils' as *;

.contact-us {

    &__info-item {
        padding: 50px 50px;
        border: 1px solid rgb(21 24 27 / 10%);
        text-align: center;
        margin-bottom: 30px;
        @include border-radius(10px);

        @media #{$xs} {
            padding: 40px 20px;
        }
    }

    &__text {
        display: flex;
        margin-top: 30px;
        flex-direction: column;

        h6 {
            margin-bottom: 10px;
            text-transform: capitalize;
        }
    }
}

.get-in-touch {

    &__space {
        margin-top: 120px;
        margin-bottom: 80px;
    }

    &__text {
        h2 {
            font-size: 100px;
            line-height: 110px;

            @media #{$lg} {
                font-size: 62px;
                line-height:74px;
            }
            @media #{$md} {
                font-size: 50px;
                line-height:52px;
            }
            @media #{$sm} {
                font-size: 38px;
                line-height:50px;
            }
            @media #{$xs} {
                font-size: 32px;
                line-height:44px;
            }
        }


        @media #{$md, $sm, $xs} {
            margin-bottom: 40px;
        }
    }

    &__contact-form {
        margin-left: 70px;

        @media #{$lg, $md, $sm, $xs} {
            margin-left: 0;
        }

        h3 {
            font-weight: 400;
        }
    }

    &__form-input{
        margin-bottom: 26px;
        
        input, textarea {
            font-size: 14px;
            line-height: 24px;
            padding-left: 0px;
            color: #6A6A6A;
            padding-bottom: 8px;
            text-transform: capitalize;
            background-color: transparent;
            border-bottom: 1px solid var(--rr-heading-primary);
            resize: none;
    
            @include  rr-placeholder{
                font-size: 14px;
                line-height: 24px;
                color: #6A6A6A;
            }
        }
        textarea {
            height: 53px;
        }

        .nice-select{
            box-sizing: border-box;
            clear: both;
            cursor: pointer;
            display: block;
            float: left;
            font-family: inherit;
            outline: none;
            position: relative;
            text-align: left !important;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            white-space: nowrap;
            width: inherit;
            z-index: inherit;
            padding-left: 20px;
            padding-right: 45px;
            padding-top: 15px;
            padding-bottom: 15px;
            border: none;
            height: 50px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #6A6A6A;
            background-color: #F8F8F8;
      
            @include  rr-placeholder{
              color: #6A6A6A;
            }
    
            @media #{$lg,$md, $sm, $xs} {
                margin-bottom: 30px;
            }
      
            &:hover{
              border-color: #dbdbdb;
            }
            &:active,
            &.open,
            &:focus{
              border-color: #999;
            }
      
            &.open{
              & .list{
                opacity: 1;
                pointer-events: auto;
                -webkit-transform: scale(1) translateY(0);
                -ms-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
              }
            }
            &.disabled{
              border-color: #ededed;
              color: #999;
              pointer-events: none;
              &::after{
                border-color: #cccccc;
              }
            }
            &.wide{
              width: 100%;
      
              & .list{
                left: 0 !important;
                right: 0 !important;
              }
            }
            &.right{
              float: right;
      
              & .list{
                left: auto;
                right: 0;
              }
            }
            &.small{
              font-size: 12px;
              height: 36px;
              line-height: 34px;
              &::after{
                height: 4px;
                width: 4px;
              }
              & .option{
                line-height: 34px;
                min-height: 34px;
              }
            }
            & .list{
              border: 1px solid  #C9F3FF;
              width: 100%;
              background-color: #fff;
              border-radius: 5px;
              box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
              box-sizing: border-box;
              margin-top: 4px;
              opacity: 0;
              overflow: hidden;
              padding: 0;
              pointer-events: none;
              position: absolute;
              top: 100%;
              left: 0;
              -webkit-transform-origin: 50% 0;
              -ms-transform-origin: 50% 0;
              transform-origin: 50% 0;
              -webkit-transform: scale(0.75) translateY(-21px);
              -ms-transform: scale(0.75) translateY(-21px);
              transform: scale(0.75) translateY(-21px);
              -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
              transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
              z-index: 9;
            }
            & .option{
              cursor: pointer;
              font-weight: 400;
              line-height: 40px;
              list-style: none;
              min-height: 40px;
              outline: none;
              padding-left: 18px;
              padding-right: 29px;
              text-align: left;
              -webkit-transition: all 0.2s;
              color: var(--rr-heading-primary);
              transition: all 0.2s;
              &:hover {
                background-color: #f6f7f9;
              }
              &.selected{
                font-weight: bold;
              }
              &.disabled{
                background-color: transparent;
                color: #999;
                cursor: default;
              }
            }
        }
        .no-csspointerevents {
            .nice-select {
                .list {
                display: none;
                }
                &.open {
                .list {
                    display: block;
                }
                }
            }
        }
    }

    &__form-input-select {
      .nice-select{
        box-sizing: border-box;
        clear: both;
        cursor: pointer;
        display: block;
        float: left;
        font-family: inherit;
        outline: none;
        position: relative;
        text-align: left !important;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        width: inherit;
        z-index: inherit;
        padding-right: 45px;
        border: none;
        height: 60px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        padding-left: 0px;
        padding-top: 22px;
        color: #6A6A6A;
        padding-bottom: 8px;
        text-transform: capitalize;
        background-color: transparent;
        border-bottom: 1px solid var(--rr-heading-primary) !important;

        @include  rr-placeholder{
          color: #6A6A6A;
        }

        @media #{$lg,$md, $sm, $xs} {
          margin-bottom: 30px;
        }

        &:hover{
          border-color: #dbdbdb;
        }
        &:active,
        &.open,
        &:focus{
          border-color: #999;
        }

        &.open{
          & .list{
            opacity: 1;
            pointer-events: auto;
            -webkit-transform: scale(1) translateY(0);
            -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
          }
        }
        &.disabled{
          border-color: #ededed;
          color: #999;
          pointer-events: none;
          &::after{
            border-color: #cccccc;
          }
        }
        &.wide{
          width: 100%;

          & .list{
            left: 0 !important;
            right: 0 !important;
          }
        }
        &.right{
          float: right;

          & .list{
            left: auto;
            right: 0;
          }
        }
        &.small{
          font-size: 12px;
          height: 36px;
          line-height: 34px;
          &::after{
            height: 4px;
            width: 4px;
          }
          & .option{
            line-height: 34px;
            min-height: 34px;
          }
        }
        & .list{
          border: 1px solid  #C9F3FF;
          width: 100%;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
          box-sizing: border-box;
          margin-top: 4px;
          opacity: 0;
          overflow: hidden;
          padding: 0;
          pointer-events: none;
          position: absolute;
          top: 100%;
          left: 0;
          -webkit-transform-origin: 50% 0;
          -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
          -webkit-transform: scale(0.75) translateY(-21px);
          -ms-transform: scale(0.75) translateY(-21px);
          transform: scale(0.75) translateY(-21px);
          -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
          transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
          z-index: 9;
        }
        & .option{
          cursor: pointer;
          font-weight: 400;
          line-height: 40px;
          list-style: none;
          min-height: 40px;
          outline: none;
          padding-left: 18px;
          padding-right: 29px;
          text-align: left;
          -webkit-transition: all 0.2s;
          color: var(--rr-heading-primary);
          transition: all 0.2s;
          &:hover {
            background-color: #f6f7f9;
          }
          &.selected{
            font-weight: bold;
          }
          &.disabled{
            background-color: transparent;
            color: #999;
            cursor: default;
          }
        }
      }
      .no-csspointerevents {
        .nice-select {
          .list {
            display: none;
          }
          &.open {
            .list {
              display: block;
            }
          }
        }
      }
    }

    .rr-btn {
        margin-top: 10px;
    }
}

.contact-map {
  filter: grayscale(1);

  iframe {
    width: 100%;
  }
}