@use '../../utils' as *;

.rr__faq {

  .accordion-button {
    color: var(--rr-heading-primary);
    text-transform: capitalize;
    background: transparent;
    display: inline-block;
    padding: 0 60px 23px 0;
    font-family: var(--rr-ff-exo);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    @extend %rr-transition-3;

    @media #{$xs} {
      font-size: 15px;
      line-height: 25px;
    }

    &:focus {
      box-shadow: none;
    }
    &:not(.collapsed) {
      padding-bottom: 10px;
      box-shadow: none;

      &::after {
        background: transparent;
        content: "-";
        color: var(--rr-heading-primary);
      }
    }

    &::after {
      position: absolute;
      right: 30px;
      content: "+";
      background-image: none;
      font-family: var(--rr-ff-fontawesome);
      font-size: 21px;
      top: calc(50% - 18px);
      line-height: 29px;
      font-weight: 700;
      text-align: center;
      color: var(--rr-heading-primary);
      @extend %translateY1_2;
      @extend %rr-transition-3;
    }
  }

  .accordion-body {
    padding: 0;
    padding-bottom: 18px;

    > p {
      font-family: var(--rr-ff-robo);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 0;
      color: #6A6A6A;
    }
  }

  .accordion-item {
    overflow: hidden;
    border: none;
    margin-bottom: 25px;
    @extend %rr-transition-3;
    @include border-radius(0);
    background: transparent;
    border-bottom: 1px solid rgba(244, 78, 25, 0.3);

    &:last-child {
      margin-bottom: 0;
    }

    &:has(.collapse.show) {
      .accordion-button {
        color: var(--rr-heading-primary);
      }
    }
  }
}