@use '../../utils' as *;

.text-slider {
  border-bottom: 1px solid #fff;

  &__section-space {
    padding: 30px 0;
  }

  &__slider {
    .carouselTicker {
      margin: 0;
      padding: 0;
      margin-left: calc(-100vw/2 + 100%/2);
      margin-right: calc(-100vw/2 + 100%/2);

      &__wrap {
        overflow: inherit !important;
      }

      &__list {
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style: none;
        margin-left: -10px;
        margin-right: -10px;
        align-items: center;
        display: -webkit-box;
        justify-content: center;
        gap: 10px;

        li {
          float: left;
          padding-left: 10px;
          padding-right: 10px;

          .title {
            font-style: normal;
            font-weight: 600;
            color: var(--rr-common-white);

            &.bar {
              font-style: normal;
              font-weight: 600;
              color: var(--rr-common-white);
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
}